<div class="container">

    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-light">
                <th>ID</th>
                <th>Código</th>
                <th>Descripción</th>
                <th>Precio de compras</th>
                <th>Precio de venta</th>
                <th>Ganancia</th>
                <th>Existencia</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos ">
                <th scope="row">{{producto.id}}</th>
                <td>{{producto.codigo}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.p_compra}}</td>
                <td>{{producto.p_venta}}</td>
                <td>{{ producto.p_venta - producto.p_compra}}</td>
                <td>{{producto.existencia}}</td>
                <td><button class="btn btn-warning d-block mx-auto " (click)="editar(producto.id)"><span class="bi bi-pencil-square"></span></button></td>
            </tr>
            
        </tbody>
    </table>

</div>