<div class="container">

  <div class="card">
    <div class="card-header">
      <h1>Actualizar Producto</h1>
    </div>
    <div class="card-body">
      <div class="form">

        <div class="mb-3">
          <label  class="form-label">Id </label>
          <input type="text" class="form-control" [value]="ProductoLLamado[0].id" #id disabled>
        </div>
    
        <div class="mb-3">
          <label  class="form-label">Codigo de barras </label>
          <input type="text" class="form-control" [value]="ProductoLLamado[0].codigo" #codigo>
        </div>
        <div class="mb-3">
          <label  class="form-label">Descripcion </label>
          <input type="text" class="form-control" [value]="ProductoLLamado[0].descripcion" #descripcion>
        </div>
        <div class="mb-3">
          <label  class="form-label">Precio de compra </label>
          <input type="number" class="form-control" [value]="ProductoLLamado[0].p_compra" #compra>
        </div>
        <div class="mb-3">
          <label  class="form-label">Precio de venta </label>
          <input type="number" class="form-control" [value]="ProductoLLamado[0].p_venta" #venta>
        </div>
        <div class="mb-3">
          <label  class="form-label">Existencia </label>
          <input type="number" class="form-control"[value]="ProductoLLamado[0].existencia" #existencia>
        </div>
        
        <div class="mb-3 botones">
          <button class="btn btn-primary" (click)="editar(id.value, codigo.value, descripcion.value, compra.value, venta.value, existencia.value)" >Actualizar</button>
          <button class="btn btn-secondary " (click)="cancelar()" >Cancelar</button>
        </div>
    </div>
  </div> 
  </div>
</div>

